<h1> Checkout </h1>
<h5><b>Total Price: ${{ totalPrice }}</b></h5>
<form [formGroup]="checkoutForm" #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="fullname">Full name</label>
    <input formControlName="fullName" [(ngModel)]="checkout.fullName" [class.is-invalid]="fullName.invalid && (fullName.dirty || fullName.touched)" id="fullname" name="fullName" type="text" required minlength="3" class="form-control" placeholder="Enter Full name">
    <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="invalid-feedback">
      <div *ngIf="fullName.errors?.['required']">
        Full name is required.
      </div>
      <div *ngIf="fullName.errors?.['minlength']">
        Full name must contain at least 3 characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input formControlName="address" [(ngModel)]="checkout.address" [class.is-invalid]="address.invalid && (address.dirty || address.touched)" id="address" name="address" type="text" required minlength="6" class="form-control" placeholder="Enter Address">
    <div *ngIf="address.invalid && (address.dirty || address.touched)" class="invalid-feedback">
      <div *ngIf="address.errors?.['required']">
        Address is required.
      </div>
      <div *ngIf="address.errors?.['minlength']">
        Address must contain at least 6 characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="creditcard">Credit Card</label>
    <input formControlName="creditCard" [(ngModel)]="checkout.creditCard" [class.is-invalid]="creditCard.invalid && (creditCard.dirty || creditCard.touched)" id="creditcard" name="creditCard" type="text" required minlength="16" maxlength="16" class="form-control" placeholder="Enter Credit Card">
    <div *ngIf="creditCard.invalid && (creditCard.dirty || creditCard.touched)" class="invalid-feedback">
      <div *ngIf="creditCard.errors?.['required']">
        Credit Card is required.
      </div>
      <div *ngIf="creditCard.errors?.['pattern']">
        Credit Card must contain 16 digits.
      </div>
    </div>
  </div>
  <input [disabled]="form.invalid" type="submit" value="Submit" class="btn btn-primary" />
</form>